# location of ecos files
export ECOS_REPOSITORY="{path/to/repository}/packages"

# add toolchain to path
export PATH="{path/to/toolchain}/bin:$PATH"

# ecos kernel configuration (ecc) file
ECC="{filename.ecc}"

# provide all application source code files separated by spaces; empty string to just build the kernel
FILES="{file1.c} {file2.c} {file3.c}"

# provide architecture-related options
ARCH_OPT="-mcpu=cortex-m3 -mthumb"
#ARCH_OPT="-mcpu=cortex-a9"

# provide additional compiler options
ADD_OPT="-O2"
